---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<main>
	   
        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
                    <h1 class="mb-5">Explore Our Services</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                                <h5>Events</h5>
                                <p>We organize the banquet of your reception according to your needs, be it baptism, wedding, memorial, funeral or any other gathering.</p>
                            </div>
                        </div>
                    </div>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-solid fa-bag-shopping text-primary mb-4"></i>
                                <h5>Quality Food</h5>
                                <p>The ingredients for our plates come from our garden and local market.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                                <h5>Food Delivery</h5>
                                <p>Contact us to place your order and we will bring it to your place!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->        
	</main>
</Layout>
 
<style>
</style>
