---
import Layout from '../../layouts/Layout.astro';
---

<Layout >
	<main>		
		<div class="container-fluid py-5 bg-dark hero-header">
			<div class="container my-5 py-5">
				<div class="row align-items-center g-5">
					<div class="col-lg-6 text-center text-lg-start">
						<h1 class="display-3 text-white animated slideInLeft">Απολαύστε<br>τα πεντανόστιμα πιάτα μας! </h1>
						<p class="text-white animated slideInLeft mb-4 pb-2">Χρησιμοποιώντας τα πιο αγνά υλικά και πάντα με ντόπια προϊόντα επιδιώκουμε να σας προσφέρουμε το βέλτιστο αποτέλεσμα!</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
 
<style>
</style>
