---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<main>
	   
        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container mt-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
                    <h1 class="mb-5">Οι υπηρεσίες μας.</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                                <h5>Εκδηλώσεις</h5>
                                <p>Οργανόνουμε δεξιώσεις σύμφωνα με τις ανάγκες σας, βαφτίσεις, γάμοι, μικρές συνεστιάσεις ή οποιαδίποτε άλλη εκδήλωση.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-clipboard-check text-primary mb-4"></i>
                                <h5>Ποιοτικό Φαγητό</h5>
                                <p>Οι πρώτες ύλες για τα πιάτα μας προέρχονται είτε από τον κήπο μας είτε από τη τοπική αγορά.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-suitcase text-primary mb-4"></i>
                                <h5>Διανομή φαγητού</h5>
                                <p>Επικοινωνήστε μαζί μας για να ετοιμάσουμε τη παραγγελία σας και να τη φέρουμε στο χώρο σας!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->        
	</main>
</Layout>
 
<style>
</style>
