---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<main>
        
        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container mt-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contact Us</h5>
                    <h1 class="mb-5">For any query feel free to contact us</h1>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-3">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Ioanna</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>+30 6977622053</p>
                            </div>
                            <div class="col-md-3">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Pantelis</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>+30 6977570133</p>
                            </div>
                            <div class="col-md-3">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Facebook</h5>
                                <p><i class="fab fa-facebook-f text-primary me-2"></i><a href="https://www.facebook.com/profile.php?id=100001985443103" target="_blank">Karakoulak</a></p>
                            </div>
                            <div class="col-md-3">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Instagram</h5>
                                <p><i class="fab fa-instagram text-primary me-2"></i><a href="https://www.instagram.com/taverna_karakoylak" target="_blank"></a>Karakoulak</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 wow fadeIn" data-wow-delay="0.1s">
                        <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6155.10898644509!2d20.252647132895802!3d39.524543579478724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135b7e8d71eca229%3A0xe709733080630273!2zzqTOsc6yzq3Pgc69zrEgzprOsc-BzrHOus6_z4XOu86szro!5e0!3m2!1sel!2sbg!4v1669926298405!5m2!1sel!2sbg"
                            frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
	</main>
</Layout>
 
<style>
</style>
